In [1]:
import pandas as pd

In [27]:
data = pd.read_json("./output/3_3mod8.txt")
data[data["Z-rk"]=="0"]

,p,D,K-cyc,Lx-cyc,Ly-cyc,Z-rk,ZM
42,3,-3826859,"[63, 9]","[126, 18, 9, 3]","[189, 9, 3, 3]",0,"[[0, 0], [0, 0]]"
131,3,-8187139,"[45, 9]","[135, 9, 3, 3]","[90, 18, 9, 3]",0,"[[0, 0], [0, 0]]"
210,3,-13014563,"[90, 9]","[90, 9, 9, 3]","[270, 9, 3, 3]",0,"[[0, 0], [0, 0]]"

In [74]:
data5 = pd.read_json("./output/5_7mod8.txt")
data5[data5["Z-rk"]=="-"][430:440]

,p,D,K-cyc,Lx-cyc,Ly-cyc,Z-rk,ZM
1142,5,-6360071,"[490, 5]","[490, 5, 5]","[2450, 5]",-,-
1143,5,-6362655,"[40, 10, 2, 2]","[40, 10, 10, 2]","[40, 10, 10, 2]",-,-
1147,5,-6372007,"[180, 5]","[900, 5]","[900, 5]",-,-
1149,5,-6381047,"[385, 5]","[1925, 5]","[1925, 5]",-,-
1150,5,-6383015,"[410, 5]","[2050, 5]","[2050, 5]",-,-
1152,5,-6405983,"[120, 10, 2]","[600, 10, 2, 2, 2, 2, 2]","[600, 10, 2]",-,-
1153,5,-6409751,"[735, 5]","[7350, 10, 2, 2]","[3675, 5]",-,-
1155,5,-6421791,"[320, 10]","[1600, 10, 2, 2, 2, 2]","[320, 10, 5]",-,-
1156,5,-6421943,"[200, 10]","[200, 10, 5]","[200, 10, 5]",-,-
1157,5,-6425471,"[870, 5]","[4350, 15, 3, 3, 3]","[4350, 5]",-,-