This notebook gives code examples of how to explore the results of our computations of Massey products and Zassenhaus-types for imaginary quadratic fields with class group of p-rank two.

In [28]:
import pandas as pd
import numpy as np

In [118]:
data3_3 = pd.read_json("./output/3_3mod8.json")
data3_4 = pd.read_json("./output/3_4mod16.json")
data3_7 = pd.read_json("./output/3_7mod8.json")
data3_8 = pd.read_json("./output/3_8mod16.json")

data5_3 = pd.read_json("./output/5_3mod8.json")
data5_4 = pd.read_json("./output/5_4mod16.json")
data5_7 = pd.read_json("./output/5_7mod8.json")

data7_7 = pd.read_json("./output/7_7mod8.json")

ValueError: Expected object or value

To check for fields whose Zassenhaus rank is zero, implying an infinite Hilbert p-class field tower, one may use the following code.

In [115]:
data3_3[data3_3["Z-rk"]=="0"]

,p,D,K-cyc,Lx-cyc,Ly-cyc,Z-rk,ZM
42,3,-3826859,"[63, 9]","[126, 18, 9, 3]","[189, 9, 3, 3]",0,"[[0, 0], [0, 0]]"
131,3,-8187139,"[45, 9]","[135, 9, 3, 3]","[90, 18, 9, 3]",0,"[[0, 0], [0, 0]]"
210,3,-13014563,"[90, 9]","[90, 9, 9, 3]","[270, 9, 3, 3]",0,"[[0, 0], [0, 0]]"
453,3,-28175891,"[279, 9]","[837, 9, 3, 3]","[279, 9, 9, 3]",0,"[[0, 0], [0, 0]]"
520,3,-31768867,"[36, 18]","[108, 18, 3, 3]","[36, 18, 9, 3]",0,"[[0, 0], [0, 0]]"
622,3,-38365507,"[36, 18]","[108, 18, 3, 3]","[108, 18, 3, 3]",0,"[[0, 0], [0, 0]]"
777,3,-46352827,"[117, 9]","[351, 9, 3, 3]","[351, 9, 3, 3]",0,"[[0, 0], [0, 0]]"
843,3,-49271851,"[72, 18]","[216, 18, 3, 3]","[72, 18, 18, 6]",0,"[[0, 0], [0, 0]]"
913,3,-52921659,"[108, 18]","[324, 18, 3, 3]","[108, 18, 18, 6]",0,"[[0, 0], [0, 0]]"
927,3,-53618651,"[180, 9]","[540, 9, 3, 3]","[1620, 54, 6, 3]",0,"[[0, 0], [0, 0]]"
1116,3,-64457267,"[162, 18]","[486, 18, 3, 3]","[162, 18, 9, 3]",0,"[[0, 0], [0, 0]]"
1187,3,-68640187,"[18, 18, 2, 2]","[54, 18, 6, 6]","[54, 18, 6, 6]",0,"[[0, 0], [0, 0]]"
1192,3,-69024707,"[261, 9]","[3915, 45, 3, 3]","[261, 9, 9, 3]",0,"[[0, 0], [0, 0]]"
1364,3,-77089939,"[207, 9]","[621, 9, 3, 3]","[828, 36, 18, 6]",0,"[[0, 0], [0, 0]]"
1408,3,-78985091,"[360, 9]","[1080, 9, 3, 3]","[1080, 9, 3, 3]",0,"[[0, 0], [0, 0]]"
1573,3,-87606507,"[216, 9]","[216, 9, 9, 3]","[648, 72, 24, 6, 2]",0,"[[0, 0], [0, 0]]"
1670,3,-92303779,"[108, 18]","[108, 18, 9, 3]","[108, 18, 9, 3]",0,"[[0, 0], [0, 0]]"
1709,3,-94508339,"[612, 9]","[5508, 27, 3, 3]","[612, 9, 9, 3]",0,"[[0, 0], [0, 0]]"
1783,3,-98710931,"[180, 18]","[180, 18, 9, 3]","[540, 18, 6, 6]",0,"[[0, 0], [0, 0]]"

In [4]:
data3_7[data3_7["Z-rk"]=="0"]

,p,D,K-cyc,Lx-cyc,Ly-cyc,Z-rk,ZM
130,3,-11394591,"[90, 18, 2]","[270, 18, 6, 3]","[1890, 126, 6, 3]",0,"[[0, 0], [0, 0]]"
461,3,-30963223,"[90, 18]","[270, 18, 3, 3]","[270, 18, 3, 3]",0,"[[0, 0], [0, 0]]"
576,3,-37635703,"[360, 9]","[360, 9, 9, 3]","[360, 18, 18, 3]",0,"[[0, 0], [0, 0]]"
713,3,-45266335,"[306, 9]","[306, 9, 9, 3]","[918, 9, 3, 3]",0,"[[0, 0], [0, 0]]"
763,3,-48663487,"[36, 36, 2]","[540, 180, 6, 3]","[36, 36, 18, 6, 2, 2, 2]",0,"[[0, 0], [0, 0]]"
1036,3,-64158407,"[954, 9]","[2862, 9, 3, 3]","[954, 9, 9, 3]",0,"[[0, 0], [0, 0]]"
1227,3,-73785615,"[144, 18, 2]","[432, 18, 6, 3]","[432, 18, 6, 3]",0,"[[0, 0], [0, 0]]"
1326,3,-79480927,"[324, 9]","[972, 18, 6, 3]","[324, 9, 9, 3]",0,"[[0, 0], [0, 0]]"

In [112]:
data5_7 = pd.read_json("./output/5_7mod8.json")
data5_7[data5_7["Z-rk"]=="0"]

,p,D,K-cyc,Lx-cyc,Ly-cyc,Z-rk,ZM
470,5,-2724783,"[130, 10]","[650, 10, 5, 5]","[650, 10, 5, 5]",0,"[[0, 0], [0, 0]]"
736,5,-4190583,"[60, 10, 2]","[300, 10, 10, 5]","[300, 10, 10, 5]",0,"[[0, 0], [0, 0]]"
1216,5,-6741407,"[450, 5]","[450, 5, 5, 5, 5]","[2250, 5, 5, 5]",0,"[[0, 0], [0, 0]]"
1268,5,-6965663,"[530, 5]","[2650, 5, 5, 5]","[2650, 5, 5, 5]",0,"[[0, 0], [0, 0]]"

In [5]:
def check_p_rank (K_cyc, p):
    nr = 0
    for l in K_cyc:
        c = int(l)
        if c%p == 0:
            nr += 1
    return nr

In [117]:
data3_7_nine = pd.read_json("./output/3_7mod8_nine.txt")
data3_7 = pd.read_json("./output/3_7mod8.txt")
for i in range(0,len(data3_7['K-cyc'])):
    if data3_7['Z-rk'][i] != data3_7_nine['Z-rk'][i]:
        print(str(data3_7['D'][i])+", "+str(data3_7_nine['D'][i])+", "+data3_7['Z-rk'][i]+", "+data3_7_nine['Z-rk'][i])
        if data3_7['Z-rk'][i] == "-":
            data3_7[i:i+1]['Z-rk'].values[0] = data3_7_nine['Z-rk'][i]
            data3_7[i:i+1]['ZM'].values[0] = data3_7_nine['ZM'][i]
file = open('./output/3_7mod8.json', 'w')
file.write(data3_7.to_json(orient="records"))
file.close()

-1609871, -1609871, -, 1
-3649823, -3649823, 2, -
-4023751, -4023751, -, 2
-4194031, -4194031, 1, -
-4583063, -4583063, 1, -
-4713807, -4713807, 2, -
-6358719, -6358719, -, 2
-6437111, -6437111, -, 1
-6676399, -6676399, 2, -
-6953767, -6953767, -, 2
-8181359, -8181359, 1, 2
-9269583, -9269583, -, 2
-9420431, -9420431, 2, 1
-9575583, -9575583, 1, -
-10159703, -10159703, -, 2
-10543831, -10543831, -, 1
-10853711, -10853711, 2, -
-10873087, -10873087, 1, 2
-11319991, -11319991, 1, -
-11334095, -11334095, -, 2
-11796727, -11796727, 1, -
-11817079, -11817079, -, 1
-12084407, -12084407, 2, -
-13442911, -13442911, 2, -
-13678599, -13678599, -, 1
-14153159, -14153159, 1, -
-14669399, -14669399, -, 2
-15669751, -15669751, 1, -
-15733903, -15733903, 1, 2
-16039343, -16039343, -, 2
-16601839, -16601839, 1, -
-16789751, -16789751, -, 2
-16963015, -16963015, 1, -
-17342671, -17342671, -, 2
-17450783, -17450783, 2, -
-17504687, -17504687, 2, -
-17694695, -17694695, -, 1
-17736279, -17736279, -, 2
-17947343, -17947343, 2, -
-17958791, -17958791, 1, -
-18570991, -18570991, -, 1
-19098719, -19098719, -, 2
-19144879, -19144879, 2, -
-19179463, -19179463, 1, -
-19180391, -19180391, -, 2
-19374287, -19374287, -, 1
-19631479, -19631479, 2, -
-20006407, -20006407, -, 2
-20291591, -20291591, 2, -
-20656919, -20656919, -, 2
-22091527, -22091527, 2, -
-22387207, -22387207, 2, -
-22531151, -22531151, -, 2
-22644631, -22644631, 1, -
-22911863, -22911863, -, 2
-22965863, -22965863, 2, -
-23109455, -23109455, -, 1
-23179463, -23179463, -, 2
-23325599, -23325599, 1, -
-23353015, -23353015, -, 1
-23725255, -23725255, 2, -
-23747719, -23747719, 1, -
-24166271, -24166271, -, 1
-24238703, -24238703, 2, -
-24463183, -24463183, 2, -
-24557279, -24557279, 1, 2
-25187647, -25187647, -, 2
-25776847, -25776847, 1, -
-25809551, -25809551, -, 1
-26240591, -26240591, -, 2
-26248031, -26248031, 2, -
-26271159, -26271159, 2, -
-26283119, -26283119, -, 1
-26283247, -26283247, -, 1
-26327191, -26327191, 2, 1
-26413039, -26413039, 1, -
-26422487, -26422487, 2, -
-26566079, -26566079, -, 2
-26750327, -26750327, 1, -
-26843063, -26843063, 2, -
-27484367, -27484367, 1, 2
-28265071, -28265071, 1, -
-28377023, -28377023, -, 2
-28620615, -28620615, -, 2
-28922191, -28922191, 1, -
-29575735, -29575735, -, 1
-29608959, -29608959, 1, -
-29624255, -29624255, -, 2
-29852439, -29852439, 2, 1
-30192023, -30192023, -, 2
-30446367, -30446367, 2, 1
-30532655, -30532655, -, 2
-30570143, -30570143, -, 1
-31362263, -31362263, -, 2
-31615303, -31615303, -, 2
-31664831, -31664831, 2, -
-31841111, -31841111, 2, -
-32263343, -32263343, -, 1
-32292383, -32292383, -, 2
-32472847, -32472847, -, 1
-32603623, -32603623, 1, -
-32653967, -32653967, -, 1
-32960983, -32960983, 1, -
-33022311, -33022311, 1, -
-33826551, -33826551, 2, -
-34065463, -34065463, -, 2
-34204943, -34204943, -, 2
-34212167, -34212167, 2, -
-34293247, -34293247, 1, -
-34304503, -34304503, 2, -
-34381559, -34381559, 1, -
-34410743, -34410743, -, 2
-34964583, -34964583, 2, -
-35351255, -35351255, -, 2
-35499959, -35499959, -, 2
-35649007, -35649007, 2, -
-35693143, -35693143, 2, -
-35751647, -35751647, -, 2
-35918423, -35918423, 1, -
-36046559, -36046559, -, 1
-36054831, -36054831, -, 1

In [111]:

for i in range(0,2740):
    cyc = np.fromstring(data5_7.loc[i]['Lx-cyc'][1:-1], dtype='int', sep=', ')
    cyc2 = np.fromstring(data5_7.loc[i]['Ly-cyc'][1:-1], dtype='int', sep=', ')
    if check_p_rank(cyc, 5) > 3 and check_p_rank(cyc2, 5) > 3:
        print(i)

470
736
1216
1268
2092

In [62]:

for i in range(0,300):
    cyc = np.fromstring(data7_7.loc[i]['Lx-cyc'][1:-1], dtype='int', sep=', ')
    cyc2 = np.fromstring(data7_7.loc[i]['Ly-cyc'][1:-1], dtype='int', sep=', ')
    if check_p_rank(cyc, 5) > 3 and check_p_rank(cyc2, 5) > 3:
        print(i)

In [114]:

for i in range(0,len(data5_3['p'])-1):
    cyc = np.fromstring(data5_3.loc[i]['Lx-cyc'][1:-1], dtype='int', sep=', ')
    cyc2 = np.fromstring(data5_3.loc[i]['Ly-cyc'][1:-1], dtype='int', sep=', ')
    if check_p_rank(cyc, 5) > 3 and check_p_rank(cyc2, 5) > 3:
        print(i)

2025
2060
2119
2571
3426
3867

In [68]:
data5_3[data5_3["Z-rk"]=="0"]

,p,D,K-cyc,Lx-cyc,Ly-cyc,Z-rk,ZM
2025,5,-11099779,"[120, 5]","[600, 5, 5, 5]","[600, 5, 5, 5]",0,"[[0, 0], [0, 0]]"
3427,5,-18596179,"[100, 10]","[100, 10, 5]","[500, 10]",0,"[[0, 0], [0, 0]]"

Number of fields for p = 5

In [56]:
3834+3667+1812+1757

11070

Number of fields for p = 3

In [109]:
1797+787+1696+883

5163

In [65]:
data5_4_eight = pd.read_json("./output/5_4mod16.json")

In [107]:
for i in range(0,1811):
    cyc = np.fromstring(data5_4_eight.loc[i]['Lx-cyc'][1:-1], dtype='int', sep=', ')
    cyc2 = np.fromstring(data5_4_eight.loc[i]['Ly-cyc'][1:-1], dtype='int', sep=', ')
    if check_p_rank(cyc, 5) > 3 and check_p_rank(cyc2, 5) > 3:
        print(i)

1040
1623

In [70]:
df = pd.DataFrame(
    [["a", "b"], ["c", "d"]],
    index=["row 1", "row 2"],
    columns=["col 1", "col 2"],
)

In [88]:
file = open('test.json', 'w')
file.write(data5_4_eight.to_json(orient="records"))

217180

In [99]:
test = pd.read_json('test.json')
test[0:1]['K-cyc'].values[0] = '[20, 10]'
test[0:1]['K-cyc']

0    [20, 10]
Name: K-cyc, dtype: object