In [1]:
import pandas as pd

In [15]:
data = pd.read_json("./output/3_3mod8.txt")
data

,p,D,K-cyc,Lx-cyc,Ly-cyc,Z-rk,ZM
0,3,-134059,"[9, 9]","[27, 3, 3]","[27, 3, 3]",2,"[[1, 2], [2, 2]]"
1,3,-298483,"[9, 9]","[27, 3, 3]","[54, 6, 3]",2,"[[2, 2], [0, 1]]"
2,3,-426291,"[18, 9]","[18, 9, 3]","[18, 9, 3]",2,"[[0, 2], [2, 0]]"
3,3,-430411,"[9, 9]","[27, 3, 3]","[54, 6, 6, 2]",2,"[[1, 2], [0, 2]]"
4,3,-460523,"[18, 9]","[54, 3, 3]","[216, 24, 6]",1,"[[1, 2], [2, 1]]"
...,...,...,...,...,...,...,...
312,3,-19746083,"[108, 9]","[108, 9, 9, 3]","[324, 3, 3]",1,"[[0, 2], [0, 2]]"
313,3,-19820923,"[54, 9]","[108, 36, 6]","[54, 18, 6, 2, 2]",2,"[[2, 0], [2, 1]]"
314,3,-19832187,"[18, 18, 2]","[54, 6, 6, 2, 2]","[54, 6, 6]",2,"[[0, 1], [1, 0]]"
315,3,-19922027,"[144, 9]","[432, 36, 12, 3]","[144, 9, 3]",-,-
316,3,-19942667,"[108, 18]","[108, 18, 3]","[324, 6, 3]",2,"[[2, 2], [1, 2]]"