In [1]:
import pandas as pd

In [27]:
data = pd.read_json("./output/3_3mod8.txt")
data[data["Z-rk"]=="0"]

,p,D,K-cyc,Lx-cyc,Ly-cyc,Z-rk,ZM
42,3,-3826859,"[63, 9]","[126, 18, 9, 3]","[189, 9, 3, 3]",0,"[[0, 0], [0, 0]]"
131,3,-8187139,"[45, 9]","[135, 9, 3, 3]","[90, 18, 9, 3]",0,"[[0, 0], [0, 0]]"
210,3,-13014563,"[90, 9]","[90, 9, 9, 3]","[270, 9, 3, 3]",0,"[[0, 0], [0, 0]]"